.ref-textImg {
  height: 21px;
   width:171px;
  border: 1px solid black;
}
.row-input {
  height: 19px;
  float:left;
  border-style: none;
}

img{
 float:left;
 height: 21px;
 cursor: pointer;
 transform: scale(1);
}

img.active{
  transform: scale(2);
}
/*table{
   width: 680px;
   olign:center;
  border:solid 1px #add9c0;
  border:solid #add9c0; border-width:1px 0px 0px 1px;
  background:  #add9c0;
}*/
/*table tr {border:solid #add9c0; border-width:0px 1px 1px 0px;}
 
.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import 'antd/dist/antd.css';
.ant-modal p {
  margin: 0;
}
